body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(165, 156, 165);
}

h1 {
    font-size: 6rem;
    font-family: Montserrat;
}

.letter {
    transition: color 1000ms;
}